include includes/head.pug 
body
 div(class="appli") 
  h1 LES CHATS ET LA SOURIS
  div 
   p déjà membre?
  div(class="bouton")
   button
    a(href='/connexion') CONNECTION
   p . 
   p . 
  div
   p nouveau?
  div(class="bouton")
   button 
    a(href='/inscription') INSCRIPTION
   p .
   p .
   p .
   p .
  
    